.header {
	font-size: 1.3em;
	padding: 10px 0px;
}

 .header h1 {
	text-align: center;
	margin-top: 0px;
	text-transform: none;
	font-weight: 200;
	    font-family: 'Open Sans', sans-serif;
	    font-size: 0.7em;
	    transition:all 0s ease;
	    margin-bottom: 0px;
	    margin-top: 10px;
}

.header h1 {
	margin: 10px 0px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5em;
}

.header .posted {
	margin: 10px 0px 20px;
	font-size: 0.8em;
	font-weight: 200;
}

.footer .posted {
	margin: 0;
}
.footer h1 {
	margin: 20px 0px 0px;
}

.footer hr {
	margin: 20px auto;
}

.footer .read-more a {
		font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	margin: 0;
	text-transform: uppercase;
}

.header hr {
	margin: 20px auto;
}

#heading {
		background: #333333 ;
	background-position: 0px 0px;
	padding: 20px 0px;
}

.stuck {
	font-size: 1em;
}

.stuck p {
	display: none;
	transition:all 0s ease;

}


pre {
	padding: 20px;
	width: 100%!important;
	background: #333333!important;
	margin: 20px 0px!important;
	border-radius: 3px;
	display: block!important;
	color: white;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.05);
}

h1 i {
	margin-right: 20px;

}

h1 {
	font-size: 1.3em;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1.3em
}

.stuck .posted {
	display: none;
}

.stuck h1 {
	margin: 0px 0px;
}


#content-section h2 {
	margin: 40px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 1.5em;
	text-align: center;
}

ul.article-list li {
	background: none!important;
	text-align: left;
	list-style: disc;
	margin: 0;
	margin-left: 30px;
	font-size: inherit;
	color: #999;
}

.anims {
/*	background: url('/images/obs-logo-half.png') center no-repeat;*/
background-size: contain;
height: 20px;
margin: 30px 0px;
opacity: 0.5;
}

ul.tags {
	text-align: center;
}
.tags li {
	display: inline-block;
	background: none!important;
	padding: 0px;
	text-transform: uppercase;
	font-size: 0.8em;
	border-bottom: 1px dashed #999;
	margin: 0px 5px;
}

.tags li:first-child {
	border: none;

}

.tags i, .author i {
	font-size: 1.3em;
}

.author i {
	margin-right: 20px;
}

.author li {
	padding: 0px;
	text-transform: uppercase;
	font-size: 0.8em;
}

h3 {
	text-align: center;
}
.more_info {
	margin: 60px 0px 20px;
}

/* Search */

.search-btn {
	display: block;
	text-align: center;
	margin: 40px 0px 0px;
	font-size: 1.4em;
	color: #999999;
}
.search-btn:hover {
	color: #ffffff;
	cursor: pointer;
}

.stuck .search-btn {
	position: absolute;
	top: 13px;
	left: 10px;
	z-index: 9999;
	margin: 0px;
	transition: all 0.4s ease;

}

.blog-post .blog-right h3 {
text-align: LEFT;


}

img {
margin: 0 auto;
display: block;
}

