*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
/*background: rgba(255,255,255,1);*/

	background: #404040;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
 	color:#cdcdcd;
    line-height: 1.5em;
    font-weight: 200;
}

a {
		color: rgba(255,255,255,0.5);
	text-decoration: none;
	transition: all 0.5s ease;
}

a:hover {
	color: #ffffff;
}

h1, h2, h3 {

}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 10px 0px;
	padding: 10px ;
}

#content-section li:nth-child(even) {
	background: rgba(0,0,0,0.05);
}


#heading {




padding: 80px 0px;
	position: relative;
	width: 100%;
	top: 0;

		background-color: #333333

	}
}

#content-section {

	position: relative;

}

.left {
	float: left;
}

.right {
	float: right;
}

.inner {
	max-width: 800px;
	width: auto;
	margin: 0 auto;
	padding: 0px;
}

.header {
    width:100%;
    text-align: center;
    color: #fff;
    position: relative;

padding: 10px 0px;
  text-align: center;

font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
    background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
			background-color: #333333;


}

.header .anim {
		transition: all 0.3s ease;
		background: url('/images/obs-logo.png') center no-repeat;
		background-size: contain;
		display: block;
		height: 60px

}

#heading .anims {
		transition: all 0.3s ease;
		background: url('/images/obs-logo-half.png') center no-repeat;
	  		background-size: contain;
	  		height: 30px;
	  		display: block;
	  		margin: 0px 0px 30px;

}

.take-me-uptop {
	position: absolute;
	right: -100px;
	background: rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.5);
	font-weight: 200;
	padding: 5px 10px;
top: 8px;
	border-radius: 3px;
	opacity: 0;
	transition: all 0.4s ease;
	cursor: pointer;
	text-transform: uppercase;
font-size: 0.8em;
}

.take-me-uptop:hover {
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,0.3);

}

.take-me-uptop i {
	margin-right: 10px;
}

.stuck .take-me-uptop {
	opacity: 1;
	right: 8px;
}




p {
	text-align: justify;
	color: #999;
	margin-top: 10px;

}

h1 { text-align: center; font-weight: 300; font-size: 2em; margin: 50px 0px 25px}

.stuck { position: fixed; top: 0;



	 z-index: 999;
	  }

	  .stuck .anim {
	  		background: url('/images/obs-logo-half.png') center no-repeat;
	  		background-size: contain;
	  		height: 30px
	  }


  li:hover {

  			cursor: pointer;
  			color: #fff;

  }

  li i {
  	display: table-cell;
  	vertical-align: middle;
  	font-size: 4em;


  }

  ul { text-align: center; position: relative; }



.fixer { overflow: hidden; height: 300px; position: relative;}


.top-bounce {
	height: 120px;
}

.avatar {
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 200px;
	overflow: hidden;
	margin: 30px auto;
	background: url('/images/me.jpg') no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
	position: relative;
	background-color: #333333;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	border: 4px solid rgba(255,255,255,0.6);
}

.clear {
	overflow: auto;
}




.avatar img {
	width: 100%;
	position: absolute;
	left: 0!important;
	top: 0;
}

#about-section {
	width: 100%;
}

#tweets {
	text-align: center;
	padding-top: 50px;

}

#tweet .posted {
	margin: 0px;
}

#github {
	text-align: center;

}

.some-area {
	margin-top: 120px;
 	transition: all 0.7s ease;
 	opacity: 0;

}

#tweets i {
	text-align: center;
	display: block;
	margin-bottom: 20px;


}



hr {
	border: none;
	border-top: 1px dashed rgba(255,255,255,0.2);
	margin: 0px auto 20px;
	width: 200px;
}


.show {  margin-top: 30px; opacity: 1!important; }

.g-project {
	overflow: auto;
	margin: 0;

}

.progress-wrapper {
	background: rgba(0,0,0,0.1);
	padding: 4px;
	border-radius: 10px;
	width: 150px;
	height: 13px;
	margin-top: 7px;
	margin-left: 10px;
}

.progress-bar {
	height: 100%;
	background: #fff;
	border-radius: 20px;
	width: 0;
	display: block;

}

.title {
	font-weight: 400;

	font-size: 0.9em;
	text-align: left;
	margin-top:1px;
}
.info { font-size: 0.7em; text-transform: uppercase; margin-top: 1px;}

.yellow {
	background: #F1C40F;
}

.green {
	background: #2ECC71;
}

.blue {
	background: #30ABD5;
}

.pink {
	background:#FB887C;
}

.texter {
	display: none;
}

.blog-right {
	float: left;
}

.blog-post h3 {
	font-weight: 400;
	display: block;
	margin: 20px 0px 0px;
}

.blog-post p {
	display: inline-block;
	margin-left: 35px;
}

.blog-post i {

	margin-right: 10px;
	left: 0;

}

.blog-post {
	overflow: auto;
}

.blog-posts {
	float: left;
width: 500px ;
}

.blog-posts h1 {
	text-align: left;
}

.blog-posts hr {
	margin: 0;
	width: 100%;
}

.right-column {
	float: right;
	max-width: 250px;
	text-align: left;
	width: auto;
}

.right-column .tags li{
	display: block;
	border: none;

}

.read-more {
	display: block;
	font-size: 0.8em;
		margin-left: 35px;
}

.read-more i {
	margin-left: 10px;
}

.posted {
	font-size: 0.8em;
	color: #666;
		margin-left: 35px;
}

.footer {
	display: block;
	width: 100%;
	background: #333;
	margin-top: 20px;
	padding:0px;
	text-align: center;
}

.footer i {
	display: inline-block;
	font-size: 1.3em;
	margin: 10px 10px;

}

.footer h3{
	font-weight: 200;
	font-size: 1em;
}

.footer a{
	font-weight: 600;
}

.tag {
	padding: 0px 5px;
background: rgba(255,255,255,0.2);
border-radius: 2px;
font-size: 0.7em;
text-transform: uppercase;
float: left;
display: inline-block;
margin-top: 1px;
margin-left: 10px;
}


.tweet {
text-align: center;

}

.tweet p {
	text-align: center;
}



/* iphone - Portrait */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)  {

.some-area {
		opacity: 1;
		margin: 0px;
	}
.avatar {
	margin: 60px auto 0px;
}

#heading {
	padding: 0;
}

.g-project {
	text-align: center;
}
.g-project .progress-wrapper,
.g-project .info,
.g-project .tags-area,
.g-project .title

 {

	display: block;
	float: none;
	text-align: center;
	width: auto;
}

.tag {
	margin: 5px 0px;
	float: none;
	margin-left: 0;
}

p {
	line-height: 1.4em
}


 }

 #contact-box,
 #sub-box {
 	width: 100%;
 	text-align: center;
 	position: fixed;
 	bottom: -500px;
 		transition: all 0.4s ease;
 		background: rgba(53,53,53,0.98)
 }

 #contact-area,
 #sub-area {
 	max-width: 500px;
 	margin: 50px auto;
 }


#contact-area p,
#sub-area p {
	text-align: center;
}

#contact-area input, #contact-area textarea,
#sub-area input, #sub-area textarea {
	padding: 5px;
	background: rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	font-size: 1em;
	color: rgba(255,255,255,0.8);
	line-height: 1.5em;
	font-weight: 200;
	outline: none;
	transition: all 0.3s ease;
	width: 98%;
	font-family: inherit;

}

#contact-area input:focus , #contact-area textarea:focus,
#sub-area input:focus , #sub-area textarea:focus{
	border: 1px solid rgba(0,0,0,0.5) ;
}

#contact-area li ,
#sub-area li {
	margin: 0;
}

#contact-area li.half {
	display: inline-block;
	width: 49%;
}

#contact-area button ,
#sub-area button {
	padding: 8px;
	font-size: 1em;
	border: 1px solid rgba(0,0,0,0.7);
	background: #2ECC71;
	color: #ffffff;
	font-family: inherit;
	border-radius: 3px;
	width: 99%;
	cursor: pointer;
	outline: none;
	transition: all 0.4s ease;
}

#contact-area button:hover,
#sub-area button:hover {
	background: #27BA65;
}

#contact-box.show-contact,
#sub-box.show-sub {
	bottom: 0px;
}

.close-me {
	margin-top: 20px;
}

.close-me i {
	font-size: 1em;
	font-weight: normal;
}

#contact-area,
#sub-area {
	position: relative;
}

.uppercase {
	text-transform: uppercase;
	font-size: 1.3em;
}

.sub-btn,
.back-btn {

	padding: 8px;
	font-size: 1em;
	background: #444444;
	color: rgba(255,255,255,0.6);
	font-family: inherit;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	outline: none;
	display: inline-block;
	transition: all 0.4s ease;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 200;
	margin: 40px auto 0px;
	display: block;

}

.sub-btn:hover,
.back-btn:hover {
	color: #ffffff;
	background: #333333;
}

/* SEARCH */

#search-box {
	width: 100%;
	height: 100%;
 	text-align: center;
 	position: fixed;
 	opacity: 0;
 	transition: all 0.4s ease;
 	background: rgba(30,30,30,0.95);
 	z-index: -1;
}

#search-box.show-search {
	opacity: 1;
	z-index: 9999999999999;
}

#search-box input {
	font-size: 3em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	background-color: transparent;
	border: none;

	text-align: center;
	width: 95%;
	color: #888888;
	margin: 50px 0px;
}

#search-box input:focus {
	color: #ffffff;
	outline: none;
}

#search-box h3 {
	font-size: 1em;
	font-weight: 200;
	text-align: center;

}

#search-box .close-area {
	position: absolute;bottom: 0;
	left: 0;
	right: 0;
	bottom: 20px;

}

#search-box .close-area .close-me {
	display: inline-block;
	color: #888888;
	transition: all 0.4s ease;

}

#search-box .close-area .close-me:hover {
	color: #ffffff;
	cursor: pointer;
}

.message-middle {
	position: relative;

	text-align: center;
	top: 45%;

	-webkit-transform:translateY(-45%);
	-ms-transform:translateY(-45%);
	transform:translateY(-45%);
}

.message-middle i {
	font-size: 5em;
}


.message-middle p {
	text-align: center;
}

.abso {
	width: 100%;
	height: 100%;
	position: absolute;
}

h1.message {
	font-size: 3em;

}
